html,body{
    height:100% !important;

}

.sideNav{
    background-color: #222629;
    position: relative;
}
.sideNav a{
    padding: 0px !important;
    border-bottom: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    cursor: pointer;
}
.navFont{
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
    padding-left: 30px;
    text-align: right;
}
.logo{

    color: white;
}
.customFont{
    font-family: 'Josefin Slab', serif;
}

.navFooter{
    color: white;
    position: absolute;
    bottom: 10px;
    width:100%;
}

.content{
    height:100%;
    position:relative;
}

.bold{
    font-weight:700;
}
.albumYear{
    display: none;
}
.tabs a{
    cursor: pointer;
}
.mySlides {
    display:none;}

.centerDiv{
    font-size:16px;
    width:100%;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height:60%;
}
.centerDiv h2{
    font-family: 'Josefin Slab', serif;
    font-weight:bold;
}
.overflow{
    overflow:auto;
}
